In [6]:
from datetime import datetime, timezone, timedelta

# Create a datetime object with timezone information (aware datetime)
dt_aware = datetime(2025, 10, 5, 10, 30, 0, tzinfo=timezone(timedelta(hours=-5)))

# Access the tzinfo attribute
timezone_info = dt_aware.tzinfo
timezone_info

datetime.timezone(datetime.timedelta(days=-1, seconds=68400))

In [29]:
from price_loaders.tradingview import load_asset_price
import pandas as pd

df = load_asset_price("CCM1!", 10000, 'D')
df.dtypes
#timezone(df['time'].iloc[0])

time      datetime64[ns, Asia/Bangkok]
open                           float64
high                           float64
low                            float64
close                          float64
volume                         float64
dtype: object

In [39]:
df['time'] = df['time'].apply(lambda x: datetime(x.year, x.month, x.day))
df['time']

0      2009-10-15
1      2009-10-16
2      2009-10-17
3      2009-10-20
4      2009-10-21
          ...
3951   2025-09-30
3952   2025-10-01
3953   2025-10-02
3954   2025-10-03
3955   2025-10-04
Name: time, Length: 3956, dtype: datetime64[ns]

In [31]:
df['time'] = pd.to_datetime(df['time'])
df

                          time   open   high    low  close  volume
0    2009-10-15 03:05:00+07:00  21.60  21.60  21.16  21.20   453.0
1    2009-10-16 03:05:00+07:00  21.20  21.20  20.85  20.88   187.0
2    2009-10-17 03:05:00+07:00  20.85  21.20  20.85  21.10    97.0
3    2009-10-20 02:05:00+07:00  21.14  21.15  21.00  21.10   125.0
4    2009-10-21 02:05:00+07:00  21.21  21.32  21.10  21.23   129.0
...                        ...    ...    ...    ...    ...     ...
3951 2025-09-30 03:05:00+07:00  66.11  66.18  65.20  65.28  9274.0
3952 2025-10-01 03:05:00+07:00  65.35  65.60  65.12  65.51  5700.0
3953 2025-10-02 03:05:00+07:00  65.64  65.78  65.36  65.71  3497.0
3954 2025-10-03 03:05:00+07:00  65.75  66.05  65.71  65.98  4139.0
3955 2025-10-04 03:05:00+07:00  66.00  66.00  65.90  65.94    83.0

[3956 rows x 6 columns]